:root{
	--color1:#003e7e;
	--color2:#fb3640;
}
body{
	overflow-x:hidden;
	background-color: #fff;
}
a, abbr{
	text-decoration: none!important;
}
.button-default{
	background-color: var(--color1);
	color: #fff;
	cursor: pointer;
}
.button-default:hover{
	background-color: var(--color1);
}
.button-bottom{
	font-size: clamp(0.8rem, 2.5vw + 0.18rem, 0.95rem);
	background-color: var(--color1);
	color: #fff;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 0 8px 2px #687980;
}
.button-bottom:hover{
	background-color: var(--color1);
}
.button-1{
	background-color: var(--color2);
	color: #fff;
	cursor: pointer;
}
.button-1:hover{
	background-color: var(--color2);
}

#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.4s;
	z-index: 100;
}
.top_stars{
	font-size: 1.01em;
	color: #ffe052;
	-webkit-text-stroke-width: .85px;
	-webkit-text-stroke-color: #003e7e;
	margin-right: 4px;
}
.stars{
	font-size: 1.04em;
	color: #ffe052;
	-webkit-text-stroke-width: .85px;
	-webkit-text-stroke-color: #003e7e;
	margin-right: 4px;
}
.stars-b{
	font-size: clamp(1.1rem, 1vw + .6rem, 1.7rem);
	color: #ffe052;
	-webkit-text-stroke-width: 1.2px;
	-webkit-text-stroke-color: #003e7e;
	margin-right: 4px;
}
nav{
	background-color: var(--color1);
	color: #fff;
	direction: ltr;
	box-shadow: 0 0 7.5px 5px #687980;
}
.nav-item{
	font-size: 1.2rem;
	padding: 0 8px;
	line-height: 1.5;
}
.nav-item:hover{
	color: #e0e0c0;
}

@media only screen and (max-width: 1023.98px) {
	.nav-item{
		font-size: 1.1rem;
		margin: 3px 0;
	}
}
@media only screen and (max-width: 767.98px) {
	nav{
		direction: rtl;
	}
	.nav-item{
		direction: ltr;
		font-size: 0.9rem;
		margin: 3px 0;
	}
}
@media only screen and (min-width: 768px) {
	#menu{
		display: flex!important;
	}
	.nav-item{
		margin: auto 0;
	}
	.nav-search{
		margin-left: auto;
	}
}
.selling-point{
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 1.6;
}
@media only screen and (max-width: 767.98px) {
	.top-text{
		position: absolute;
		top: 200%;
		left: 50%;
		transform: translate(-50%,-50%);
		overflow: hidden;
		text-align: center;
	}
	.selling-point{
	  	text-align: center;
	  	margin: 9px auto;
	  	width: 100%;
	}
	.top-text{
	  	animation: anim 10s infinite;
	  	-webkit-animation-delay: 3s;
	}

	@keyframes anim {
	  	0%{
	    	margin-top: 0;
	  	}
	  	25%{
	    	margin-top: -44px;
	  	}
	  	50%{
	    	margin-top: -88px;
	  	}
	  	75%{
	    	margin-top: -44px;
	  	}
	  	100%{
	    	margin-top: 0px;
	 	}
	}
}

.banner_txt{
	width: 100%;
	font-size: clamp(0.7rem, 1vw + .42rem, 1.1rem);
	line-height: 1.5;
	border: 3px solid var(--color1);
	border-radius: 10px;
	padding: 12px 15px 5% 20%;
}
.banner_items{
	position: relative;
	display: flex;
	width: 100%;
	height: 2px;
	bottom: -35px;
}
.banner_imgContainer{
	position: absolute;
	margin-right: auto;
	width: min(12vw + 60px, 250px);
	height: min(12vw + 55px, 220px);
	object-fit: contain;
	bottom: 10px;
	cursor: pointer;
}
.banner_img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.banner_iconContainer{
	display: flex;
	position: absolute;
	bottom: 0;
	right: 5px;
	margin-left: auto;
}
.banner_icon{
	width: min(5vw + 15px, 80px);
	height: min(5vw + 22px, 80px);
	object-fit: contain;
	margin: 0;
	display: flex;
}
@media only screen and (max-width: 1535.98px) {
	.banner_txt{
    	padding: 12px 15px 5% 24%;
    }
}
@media only screen and (max-width: 1023.98px) {
	.banner_txt{
    	padding: 12px 10px 5% 20%;
    	border: 2px solid var(--color1);
    }
}
@media only screen and (max-width: 767.98px) {
	.banner_txt{
    	padding: 7px 5px 20px 22%;
    }
    .banner_items{
    	bottom: -25px;
    }
}
@media only screen and (max-width: 625.98px) {
    .banner_items{
    	bottom: -20px;
    }
	.banner_imgContainer{
		left: -17px;
	}
}
@media only screen and (max-width: 425.98px) {
	.banner_txt{
    	padding: 7px 5px 20px 25%;
    }
    .banner_items{
    	bottom: -16px;
    }
}

.locationImgContainer{
	width: 100%;
	height: min(20vw + 55px, 380px);
}
.locationImg{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media only screen and (max-width: 1279.98px){
	.locationImgContainer{
		width: 100%;
		height: min(40vw + 35px, 400px);
	}
}

.curve-top{
	height: 5px;
	width: 100vw;
}
.curvetop-img-container{
	position: relative;
	bottom:-4px;
	z-index: 10;
}
.curve-bottom{
	height: 10px;
	width: 100vw;
}
.curveimg-container{
	position: relative;
	top:-125px;
}
@media only screen and (max-width: 1799.98px) {
	.curveimg-container{
		top:-75px;
	}
}
@media only screen and (max-width: 1099.98px) {
	.curveimg-container{
		top:-45px;
	}
}
@media only screen and (max-width: 649.98px) {
	.curveimg-container{
		top:-28px;
	}
}
@media only screen and (max-width: 419.98px) {
	.curveimg-container{
		top:-18px;
	}
}
#parallax{
	background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url(../images/glass.webp)no-repeat bottom fixed;
	background-size: cover;
	width: 100%;
	height: 125vh;
	transform: scale(1.027);
}
 /* Tab content - closed */
.tab-content {
	max-height: 0;
 	-webkit-transition: max-height .35s;
 	-o-transition: max-height .35s;
 	transition: max-height .35s;
}
 /* :checked - resize to full height */
.tab input:checked ~ .tab-content {
 	max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label{
 	font-size: 1.25rem;
 	padding: 1.25rem;
 	border-left-width: 2px;
 	border-color: #003e7e;
 	background-color: #f8fafc;
 	color: #003e7e;
}
 /* Icon */
.tab label::after {
 	float:right;
 	text-align: center;
 	font-size: 1rem;
 	line-height: 2;
 	height: 35px;
 	width: 35px;
 	-webkit-transition: all .4s;
 	-o-transition: all .4s;
 	transition: all .4s;
 	margin: auto;
}
 /* Icon formatting - closed */
.tab input[type=checkbox] + label::after {
 	content: "\271A";
 	font-weight:200;
 	border-width: 1px;
 	border-radius: 9999px;
}
 /* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
 	content: "\2718";
 	font-weight:800;
 	text-align: center;
 	line-height: 2;
 	background-color: #003e7e;
 	color: #fff;
}

@media only screen and (max-width: 767.98px) {
	.footerBottom{
		padding: 22px;
	}
}

/*-blog_page-*/

.blogImg_container{
	width: 100%;
	height: clamp(250px, 30vw, 400px);
	overflow: hidden;
}
.blogImg{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media only screen and (max-width: 767.98px) {
	.blogImg_container{
    	width: 100%;
    	height: clamp(220px, 50vw, 400px);
    	overflow: hidden;
    }
}

/*-blog_page / individual_category_page / review_page*/
.button-pagination{
	background-color: var(--color1);
	border: 1.5px solid var(--color1);
	font-size: 1.01em;
	color: #fff;
	font-weight: 500;
	padding: 3px 16px;
	margin:4px;
}
.button-pagination-active{
	background-color: #fff;
	border: 1.5px solid var(--color1);
	font-size: 1.05em;
	color: var(--color1);
	font-weight: 500;
	padding: 3px 16px;
	margin:4px;
	cursor: not-allowed;
}
@media only screen and (max-width: 1023.98px) {
	.button-pagination{
		font-size: 0.95em;
	}
	.button-pagination-active{
		font-size: 0.95em;
	}
}
@media only screen and (max-width: 639.98px) {
	.button-pagination{
		font-size: 0.8em;
		padding:2px 10px;
	}
	.button-pagination-active{
		font-size: 0.8em;
		padding:2px 10px;
	}
}


/*-blog_article_page-*/

.recent_blogImg_container{
	height: clamp(180px, 50vw, 220px);
	overflow: hidden;
}
.recent_blogImg{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.5s;
}
.recent_blog{
	overflow: hidden;
}
.recent_blog:hover .recent_blogImg{
	transform: scale(1.2);
}
@media only screen and (max-width: 639.98px) {
	.recent_blogImg_container{
		height: clamp(180px, 50vw, 350px);
	}
}

/*-categories-*/

.overview_title{
	max-height: 55px;
	overflow: hidden;
}

/*-blog_article_page-*/

.howToTitleImg_container{
	width: 100%;
	height: clamp(120px, 50vw, 500px);
	overflow: hidden;
}
.howToTitleImg{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.methodImg_container{
	width: 100%;
	height: clamp(120px, 50vw, 460px);
	overflow: hidden;
}
.methodImg{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.reference_link{
	color: var(--color1);
	font-size: .9em;
	font-weight: 400;
}
.video{
	width: 100%;
	height: clamp(120px, 50vw, 480px);
}

/*-howto_article_page-*/

.howToTitleImg_container{
	width: 100%;
	height: clamp(120px, 50vw, 500px);
	overflow: hidden;
}
.howToTitleImg{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.methodImg_container{
	width: 100%;
	height: clamp(120px, 50vw, 460px);
	overflow: hidden;
}
.methodImg{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.reference_link{
	color: var(--color1);
	font-size: .9em;
	font-weight: 400;
}
.video{
	width: 100%;
	height: clamp(120px, 50vw, 480px);
}

/*-howtooverview_page-*/

.blog_article_title{
	max-height: 82px;
	overflow: hidden;
}
@media only screen and (max-width: 1023.98px) {
	.blog_article_title{
		max-height: 78px;
	}
}

/*-information_page / team_page-*/

.teamImg_container{
	width: clamp(120px, 70vw, 1150px);
	height: clamp(120px, 35vw, 450px);
	object-fit: contain;
}
.teamImg{
	height: 100%;
	object-fit: contain;
}
@media only screen and (max-width: 639.98px) {
	.teamImg_container{
    	width: 100%;
		height: clamp(120px, 50vw, 300px);
    }
}

/*-online-agenda_page-*/

.agendaImg_container{
	width: 100%;
	height: clamp(120px, 30vw, 390px);
}
.agendaImg{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
@media only screen and (max-width: 767.98px) {
	.agendaImg_container{
    	height: clamp(120px, 60vw, 390px);
    }
}

/*-product_page-*/

.mySlides {
	display: none;
}
.productImgContainer {
	margin: auto;
	height: min(10vw + 150px, 380px);
	width: 100%;
	overflow:hidden;
}
.productImg{
	width: 100%;
	height: 100%;
 	object-fit: contain;
}
/* On hover, add a black background color with a little bit see-through */
.prev, .next{
	position: absolute;
	top: 40%;
	width: auto;
	margin-top: -50px;
  	padding: 0;
	font-size: 1.8em;
	font-weight: 800;
	color: white;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
	-webkit-text-stroke-width: .85px;
  	-webkit-text-stroke-color: #fff;
	user-select: none;
	-webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
}
.prev:hover, .next:hover {
  	color: rgba(0, 0, 0, 1);
  	transform: scale(1.1);
}

.thumbnail{
	display: flex;
	overflow-x: auto;
	height: 100%;
	width: 100%;
	white-space: nowrap;
}
.thumbnail_img-container{
	height: 100%;
	width: min(8vw + 15px, 65px);
		flex: 0 0 auto;
		object-fit: contain;
  	margin-right: min(1vw + 1px, 15px);
  	border: 1px solid darkgrey;
  	border-radius: 3px;
  	margin-bottom: 15px;
}
/* Add a transparency effect for thumnbail images */
.thumbnail_img{
	opacity: 0.4;
  	cursor: pointer;
  	padding: 1px 8px;
  	margin: auto;
}
.active, .thumbnail_img:hover {
  opacity: 1;
}

/*-review_page-*/

.progress_bar{
	width: 100%;
	height: 8px;
	margin: 8px 0;
}
progress::-webkit-progress-bar { 
	background: #ededed;
	border-radius: 15px;
}
progress::-webkit-progress-value { 
	background:  var(--color1);
	border-radius: 15px;
}
progress::-moz-progress-bar { 
	background: #ededed;
	border-radius: 15px;
}
progress::-moz-progress-value { 
	background:  var(--color1);
	border-radius: 15px;
}
@media only screen and (max-width: 767.98px) {
	.progress_bar{
    	margin: 6px 0;
    }
}
@media only screen and (max-width: 639.98px) {
	.progress_bar{
    	margin: 5px 0;
    }
}
@media only screen and (max-width: 475.98px) {
	.progress_bar{
    	margin: 3px 0;
    }
}

.customerImg_container{
	height: 55px;
	width: 65px;
	margin:10px 20px 10px 0;
	border:0.5px solid #e8e8e8;
	border-radius: 5px;
}
.customerImg{
	height: 100%;
	width: 100%;
	object-fit: contain;
	padding: 2px;
}
.reviewImg_container{
	height: 45px;
	width: 55px;
	margin:10px 10px 10px 0;
	border:0.5px solid #e8e8e8;
	border-radius: 5px;
}
.reviewImg{
	height: 100%;
	width: 100%;
	object-fit: contain;
	padding: 1.5px;
}
@media only screen and (max-width: 639.98px) {
	.customerImg_container{
    	height: min(9vw + 5px, 45px);
    	width: min(11vw + 5px, 55px);
    	margin:8px 8px 8px 0;
    }
    .reviewImg_container{
    	height: min(8vw + 5px, 40px);
    	width: min(10vw + 5px, 50px);
    	margin:8px 8px 8px 0;
    }
}
@media only screen and (max-width: 475.98px) {
	.customerImg_container, .reviewImg_container{
    	margin:6px 6px 6px 0;
    }
}
@media only screen and (max-width: 385.98px) {
	.customerImg_container, .reviewImg_container{
    	margin:3px 3px 3px 0;
    }
}


/*-shop1_page / shop2_page-*/

.banner_txt{
	width: 100%;
	font-size: clamp(0.7rem, 1vw + .42rem, 1.1rem);
	line-height: 1.5;
	border: 3px solid var(--color1);
	border-radius: 10px;
	padding: 12px 15px 5% 20%;
}
.banner_items{
	position: relative;
	display: flex;
	width: 100%;
	height: 2px;
	bottom: -35px;
}
.banner_imgContainer{
	position: absolute;
	margin-right: auto;
	width: min(12vw + 60px, 250px);
	height: min(12vw + 55px, 220px);
	object-fit: contain;
	bottom: 10px;
}
.banner_img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.banner_iconContainer{
	display: flex;
	position: absolute;
	bottom: 0;
	right: 5px;
	margin-left: auto;
	cursor: pointer;
}
.banner_icon{
	width: min(5vw + 15px, 80px);
	height: min(5vw + 22px, 80px);
	object-fit: contain;
	margin: 0;
	display: flex;
}
@media only screen and (max-width: 1535.98px) {
	.banner_txt{
    	padding: 12px 15px 5% 24%;
    }
}
@media only screen and (max-width: 1023.98px) {
	.banner_txt{
    	padding: 12px 10px 5% 20%;
    	border: 2px solid var(--color1);
    }
}
@media only screen and (max-width: 767.98px) {
	.banner_txt{
    	padding: 7px 5px 20px 22%;
    }
    .banner_items{
    	bottom: -25px;
    }
}
@media only screen and (max-width: 625.98px) {
    .banner_items{
    	bottom: -20px;
    }
	.banner_imgContainer{
		left: -17px;
	}
}
@media only screen and (max-width: 425.98px) {
	.banner_txt{
    	padding: 7px 5px 20px 25%;
    }
    .banner_items{
    	bottom: -16px;
    }
}

input[type=text]:focus:invalid, input[type=email]:focus:invalid, input[type=tel]:focus:invalid, textarea:focus:invalid {
	outline: none;
	border: 2px solid red;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
	outline: none;
	border: 2px solid black;
	transition: border-color .5s ease-in-out;
}

#errorNameAlert, #errorEmailAlert, #errorPhoneAlert, #errorContactNameAlert, #errorContactEmailAlert, #errorContactMessageAlert, #error-titleAlert, #error-detailsAlert{
	display: none;
}
#error-alert, #error-alert1{
	position: fixed;
	top:100px;
	right: 1%;
	width: 350px;
}
@media only screen and (max-width: 767.98px) {
	#error-alert, #error-alert1{
		top:120px;
		width: 310px;
		margin: auto;
	}
}


.error-input{
	outline: none;
	border: 2px solid red;
}
#error-title-alert{
	display: block;
}
#error-details-alert{
	display: block;
}

/*-team_page-*/

.teamMemberImg_container{
	height: 500px;
	width: 500px;
	padding: 5px;
	border: 2px solid var(--color1);
	
}
.teamMemberImg{
	height: 100%;
	width: 100%;
	object-fit: contain;
	padding:5px;
	border: 2px solid var(--color1);
}
@media only screen and (max-width: 1279.98px) {
	.teamMemberImg_container{
		height: 450px;
		width: 90%;
	}
}
@media only screen and (max-width: 1023.98px) {
	.teamMemberImg_container{
		height: 420px;
		padding:6px;
	}
}
@media only screen and (max-width: 959.98px) {
	.teamMemberImg_container{
		height: 400px;
		width: 95%;
	}
}
@media only screen and (max-width: 799.98px) {
	.teamMemberImg_container{
		height: 350px;
	}
}
@media only screen and (max-width: 767.98px) {
	.teamMemberImg_container{
		height: 300px;
		padding:5px;
	}
	.teamMemberImg{
		padding:4px;
	}
}
@media only screen and (max-width: 639.98px) {
	.teamMemberImg_container{
		height:90%;
		width: 80%;
		padding:4px;
		display: flex;
		margin-top: 8%;
		margin-left: none!important;
		margin-right: auto;
	}
	.teamMemberImg{
		padding:3px;
	}
}